---
// About section introducing London Transition
---

<section class="about-section" id="about">
  <h1>London Transition</h1>
  <p>
    The aim of this site is to help make people aware of the 
    <a href="https://www.transitionnetwork.org/">Transition</a> initiatives in Greater London 
    and to help the initiatives communicate with each other. The goal is to foster cross-group 
    networking, resource sharing and inspire, motivate and publicise new Transition projects.
  </p>
  <p>
    If you're new to the Transition movement check out 
    <a href="https://www.transitionnetwork.org/support/what-transition-initiative">What is a Transition Initiative?</a> 
    and then contact your local group.
  </p>
</section>
