---
// Site footer
---

<footer class="site-footer">
  <div class="container">
    <p><strong>Want to list or update your group?</strong></p>
    <p>
      To list or update your Transition initiative or advertise interest in forming a new London Transition group, 
      please email <a href="mailto:ltn-talk-owner@london-transition.org.uk">ltn-talk-owner@london-transition.org.uk</a>.
    </p>
    <p>Part of the <a href="https://www.transitionnetwork.org/">Transition Network</a>.</p>
  </div>
</footer>
