---
// Mailing list signup section
---

<section class="mailing-list-section" id="mailing-list">
  <h2>Join the Mailing List</h2>
  <p>
    Everyone, especially people interested in the sorts of things we do, is welcome to subscribe to our 
    <strong>London-News</strong> mailing list for general news and information.
  </p>
  
  <form class="subscribe-form" method="post" action="https://www.goop.org/mailman/subscribe/ltn-news">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" id="email" name="email" required placeholder="your@email.com">
    </div>
    <button type="submit" class="btn btn-primary">Subscribe</button>
  </form>
  
  <p>
    Once you are subscribed to <strong>London-News</strong>, you can publicise your Transition-related event, 
    activity or other news item by emailing <a href="mailto:ltn-news@goop.org">ltn-news@goop.org</a>. 
    We moderate broadcasts. Please try and give at least two weeks notice and ideally a month.
  </p>
  
  <ul>
    <li>Please keep broadcasts related to the core themes of Transition (climate change, peak oil, local resilience etc).</li>
    <li>A 'news' focus is suggested - regular Transition meetings would not normally be listed unless they had a special theme or guest speaker.</li>
    <li>Please bear in mind that list members get an awful lot of email.</li>
  </ul>
</section>
